@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

:root {
    --primary-color: #EF4444;
    --off-white: #F5F5F5;
    --gray: #D1D5DB;

}

body {
    font-family: 'Ubuntu';
    margin: 0px;
}

hr {
    margin: 2rem 0rem;
}